
@{
    ViewBag.Title = "Project";
}

<h2 style="color:coral">Finished Projects</h2><br />

<h4>C# Fundamentals</h4>

<ul>
    <li>Code Flow and Data: Calculator</li>
    <li>Collections and Exceptions: Golf</li>
    <li>Object-Oriented Programming:    Arena Fighter</li>
    <li>Inheritance and Polymorphism:   Vending Machine</li>
</ul><br />

<h4>Front End</h4>

<ul>
    <li>HTML, CSS and Bootstrap</li>
</ul>

